@charset "utf-8";

$navbar-height:10.25rem;
$navbar-item-img-max-height:10rem;
$navbar-item-hover-color:0;
$navbar-item-hover-background-color:0;
$navbar-background-color:hsl(0, 0%, 92%);

@import "../../node_modules/bulma/bulma.sass";

*{
    font-family: 'Ubuntu';
    color:hsl(0, 0%, 28%) !important;
    scroll-behavior: smooth !important;
}

html{
    background-color:hsl(0, 0%, 92%);
}

// .font-sm{
//     font-size:1.85em;
//     padding-top:4px
// }

// .font-lg{
//     font-size:2.25em; 
// }

// .font-button{
//     display:flex;
//     width:55px;
//     height:55px;
//     border-radius:50%;
//     border:3px solid hsl(0, 0%, 40%);
//     align-items:center;
//     justify-content:center;
//     color:hsl(0, 0%, 30%);
// }

.spaced{
    margin:0 1rem 0 1rem;
}

footer{
    background-color:hsl(0, 0%, 92%);
    text-align: center;
    padding:20px 0 17px 0;
    font-weight:700;
    letter-spacing:3px;
    border-top:8px dotted rgb(77, 0, 150);
}

.socials{
    display: inline-block;
    width: 100px;
    height: 100px;
    /* background:#e9c543; */
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    background-position:50% 50%;
    background-repeat:no-repeat; 
}

.overline span, .underline span {
    display: inline-block;
}

.overline span::before
{
    content: '';
    height: 7px;
    border-radius: 20px;
    display: block;
    margin-bottom:9px
}

.underline span::after
{
    content: '';
    height: 6px;
    border-radius: 20px;
    display: block;
    margin-top:9px;
    opacity:0;
}

.underline span:hover:after
{
    opacity:1;
}

.red span::before, .red span::after{
    background:#d53021;
}

.orange span::before, .orange span::after{
    background:#dc8432;
}

.yellow span::before, .yellow span::after{
    background:#ffd94a;
}
.green span::before, .green span::after{
    background:#c0e749;
}

.blue span::before, .blue span::after{
    background:#2160d5;
}

.purple span::before, .purple span::after{
    background:#8a31eb;
}

::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0,0,0,0.2);
}
::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0,0,0,0.1);
}

@media screen and (max-width: 1023px) {
    .navbar-brand img{
        height:100px;
        width:100px
    }
}


@media screen and (max-width: 1023px) {
    .overline span::before
    {
        content: '';
        height: 7px;
        border-radius: 20px;
        display: none;
        margin-bottom:9px
    }
    
    .nav{
        text-align: center
    }
}

.blank-logo{
    height:40em; 
    width:40em; 
    position:absolute; 
    margin: auto;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 1;
    margin-top:3em
}

@media screen and (max-width: 1024px) {
    .blank-logo{
        height:35em;
        width:35em;
    }
}

@media screen and (max-width: 768px) {
    .blank-logo{
        height:25em;
        width:25em;
        margin-top:1em
    }

    #hero{
        height:70vh
    }

    #hero-txt{
        margin-top:5em
    }
}

@media screen and (max-width: 440px) {

    #hero{
        height:60vh
    }

    #hero-txt{
        margin-top:2.5em
    }

    .blank-logo{
        height:20em;
        width:20em;
    }
}