@charset "utf-8";

$navbar-height:10.25rem;
$navbar-item-img-max-height:10rem;
$navbar-item-hover-color:0;
$navbar-item-hover-background-color:0;
$navbar-background-color:hsl(0, 0%, 92%);

@import "../../node_modules/bulma/bulma.sass";

*{
    font-family: 'Ubuntu';
    color:hsl(0, 0%, 28%) !important;
    scroll-behavior: smooth !important;
}

html{
    background-color:hsl(0, 0%, 92%);
}

.font-sm{
    font-size:1.85em;
    padding-top:4px
}

.font-lg{
    font-size:2.25em; 
}
.font-button{
    display:flex;
    width:55px;
    height:55px;
    border-radius:50%;
    border:3px solid hsl(0, 0%, 40%);
    align-items:center;
    justify-content:center;
    color:hsl(0, 0%, 30%);
}

/* hide font-button at 1230px and below */

.spaced{
    margin:0 1rem 0 1rem;
}

.hoverable:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.10), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
    cursor:pointer;
}

footer{
    background-color:hsl(0, 0%, 92%);
    text-align: center;
    padding:20px 0 17px 0;
    font-weight:700;
    letter-spacing:3px;
    border-top:8px dotted rgb(77, 0, 150);
}

.socials{
    display: inline-block;
    width: 100px;
    height: 100px;
    /* background:#e9c543; */
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    background-position:50% 50%;
    background-repeat:no-repeat; 
}
// #facebook{
//     background-image: url('{{asset("facebook.png")}}'); 
//     background-size: 75px 75px;
// }

// #twitter{
//     background-image: url('{{asset("twitter.png")}}'); 
//     background-size: 80px 70px;
// }

// #youtube{
//     background-image: url('{{asset("youtube.png")}}');
//     background-size: 80px 60px;
// }

// .loading_modal {
//     display:    none;
//     position:   fixed;
//     z-index:    1000;
//     top:        0;
//     left:       0;
//     height:     100%;
//     width:      100%;
//     background: rgba( 255, 255, 255, .8 ) 
//                 url('../../public/spinner.gif') 
//                 50% 50% 
//                 no-repeat;
// }

.overline span, .underline span {
    display: inline-block;
}

.overline span::before
{
    content: '';
    height: 7px;
    border-radius: 20px;
    display: block;
    margin-bottom:9px
}

.underline span::after
{
    content: '';
    height: 6px;
    border-radius: 20px;
    display: block;
    margin-top:9px;
    opacity:0;
}

.underline span:hover:after
{
    opacity:1;
}

.red span::before, .red span::after{
    background:#d53021;
}

.orange span::before, .orange span::after{
    background:#dc8432;
}

.yellow span::before, .yellow span::after{
    background:#ffd94a;
}
.green span::before, .green span::after{
    background:#c0e749;
}
.purple span::before, .purple span::after{
    background:#8a31eb;
}

::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0,0,0,0.2);
}
::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0,0,0,0.1);
}

// .js body { display: none; }